<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todolist</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model='inputValue' />
        <button value="submit" v-on:click='add'>submit</button>
        <ul id="ul1">
            <li v-for='item in list'>{{item}}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // var inputContent = document.getElementById("input1");
        // var ulBtn = document.getElementById("ul1");
        // function add(){
        //     console.log(inputContent.value);
        //     var val = inputContent.value;
        //     var liEle = document.createElement('li');
        //     liEle.innerText = val;
        //     ulBtn.appendChild(liEle);
        // }
        var app = new Vue({
            el: '#app',
            data: {
                list: [],
                inputValue: ''
            },
            methods: {
                add: function(){
                    //console.log(this.inputValue);
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                }
            }
        })

    </script>
</body>
</html>